@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: mediumaquamarine;
  height: 90vh;
  width: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

main > div {
  width: 40%;
  margin: auto;
  padding: 10%;
}
