.transform {
  transition-duration: 1s;
}

.transform:hover {
  background-color: cornflowerblue;
  color: ghostwhite;
}

/******************************
* Bonus
******************************/

/* set position to relative to allow other elements to flow on top of this element */
.caption {
  position: relative;
  overflow:hidden;
}

/* set a 'psuedo' element that will be transparent */
.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
}

/* on hover, allow background to darken slightly for better text clarity */
.caption:hover::before {
  background: rgba(0, 0, 0, .2);
}

/* set image size and center it*/
.caption img {
  display: block;
  width: 100%;
  height: auto;
}

/* set div that holds the h1 and paragraph text
to position absolute and push it 100% outside the image element
because the caption element has overflow hidden the text will be hidden but effectively, below the image */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateY(100%);
  transition: transform .7s ease-out;
}

/* on hover move the div with class overlay up */
.caption:hover .overlay {
  transform: translateY(10%);
}

/* set the h1 element to be visible always */
.caption h1 {
 text-align: left;
 margin: 0;
 padding: 0 0 12px;
 transform: translateY(calc(-100% - 5px));
 transition: transform .35s ease-out;
}

/* move the h1 on hover as well */
.caption:hover .caption > h1 {
  transform: translateY(0);
}
